header {
    height: 25vh;
    color: rgb(117, 117, 117);
    background-color: #fff;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}

.header_nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin-right: 25px;
  cursor: pointer;
}

.bar {
  position: relative;
  width: 30px;
  height: 2.5px;
  background-color: rgb(117, 117, 117);
  transition: transform 0.3s ease;
}

.bar.active:nth-child(2) {
  transform: scaleX(0);
  z-index: 2;
  background-color: rgb(117, 117, 117);
}

.bar.active:first-child {
  transform: translateY(11px) rotate(45deg);
  z-index: 2;
  background-color: rgb(117, 117, 117);
}

.bar.active:last-child {
  transform: translateY(-6px) rotate(-45deg);
  z-index: 2;
  background-color: rgb(117, 117, 117);
}

.navbar-menu {
  position: absolute;
  display: none;
  width: 150px;
  height: 25px;
  margin-top: 30px;
  list-style: none;
}

.navbar-menu.active {
  top: -20%;
  display: block;
  width: 200px;
  height: 150px;
  padding-top: 5%;
  border-bottom-left-radius: 300px;
  background-color: rgba(211, 211, 211, 0.555);
}

.navbar-menu li {
  font-family: "PoppinsR";
  font-size: 15px;
  color: rgb(117, 117, 117);
  line-height: 35px;
  }
.first-li {
    padding-left: 30px;
}
.second-li {
    padding-left: 50px;
}
.last-li {
    padding-left: 70px;
}

.header_center {
    // margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header_center_title {
        padding-top: 10px;
        font-size: 50px;
        font-family:"PoppinsSB";
        z-index: 0;
        line-height: 42px;
    }
    .header_center_p {
        padding-top: 15px;
        font-size: 24px;
        letter-spacing: 2px;
    }
}

.header_lines {
  height: 20px;
  width: 75%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid rgba(211, 211, 211, 0.555);
  border-bottom: 2px solid rgba(211, 211, 211, 0.555);
}

.logo_brand {
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 4px;
    padding-bottom: 4px;
    border: 2px solid transparent;
    border-radius: 8px;
    animation: border-load 4s linear forwards;
}

@keyframes border-load {
  0% {
    border-color: transparent transparent transparent transparent;
  }
  20% {
    border-color: lightblue transparent transparent transparent;
  }
  40% {
    border-color: lightblue lightcoral transparent transparent;
  }
  60% {
    border-color: lightblue lightcoral lightcoral transparent;
  }
  80% {
    border-color: lightblue lightcoral lightcoral lightblue;
  }
  100% {
    border-color: lightblue lightcoral lightcoral lightblue;
  }
}